.myInfo{

display: flex;
flex-direction: row;
} 

ul {margin: 0 -20px;
   list-style-type: none; 
}
.walpapper {
	height: 100px;
	width: 670px;	
} 
.avatar {
	margin: 40px 0 -5px 10px;
	width: 250px;

}
 

.posts{
	background-color: slategrey;
}
li{
	font-size: 17px;
}
.fullName {
	font-size: 30px;
	font-weight: bold;
	
}
.status {
	color:slateblue;
	font-style: italic;
	font-size: 20px;
}

.avatarWrapper{
	max-width: 300px;
}
.fileInput{
	margin-left: 34px;
}