

.myInfo{

display: flex;
flex-direction: row;
} 
ul {margin: 0 -20px;
   list-style-type: none; 
	font-size: 20px;
}
.walpapper {
	height: 100px;
	width: 670px;
	
} 
.avatar {
	
	margin-left: 5px;
	width: 179px;
}
 

.posts{
	background-color: slategrey;
}
li{
	font-size: 15px;
}