.header {
	grid-area: h;
	background-color:dimgray;
	border: solid 2px black;
	border-radius: 30px;
	text-align: left;
	
}
.header img {
	margin-left: 25px;
	width: 77px;

}
.loginBlock{
	float: right;
	padding: 8px 8px 0 0;
}

.loginBlock a{
	text-decoration: none;
	color: white;
}
.loginAva{
	border: solid 2px greenyellow;
	box-shadow: greenyellow 1px 1px 10px;
	border-radius: 50%;
	margin-top: -5px;
}
