.dialogs{
	display: grid;
	grid-template-columns: 2fr 4fr;
}

.dialog a{
	text-decoration: none;
	color: black;
}

.dialogsItems{
	padding: 15px;
}

.messages{
	background-color: black;
	border-radius:  30px 0 0 30px;
	color: white;
	font-style: italic;
	padding: 10px 10px 0px 10px;
}

.dialogsItems :nth-child(2) {
	
	font-size: 18px;
	text-shadow: 3px 3px 2px whitesmoke;
	font-weight: 700;
} 

.dialogsItems img {
	width: 30px;
	margin-right: 5px;
	border:1px black solid;
	border-radius: 50%;
}
.messages{
	padding: 10px -20px 1px 20px;
}

.messages img{
	margin-right: 10px ;
	width: 30px;
	border-radius: 50%;
}
.messages textarea {
	overflow: auto;
	padding: 10px;
	margin: 40px 0px 0px 0px;
	height: 70px;
	width: 390px;
	border: 2px white solid;
	border-radius: 30px;
}
.messages textarea:focus {

}

.messages button {
	width: 120px;
	margin-left: 300px;
	border-radius: 30px;
	background-color: white;
}